/* ---- reset ---- */

body {
  margin: 0;
  font: normal 75% Arial, Helvetica, sans-serif;
  user-select: none;
  user-zoom: none;
}
::-webkit-scrollbar {
  width: 0;
}

.wrapper {
  overflow-y: hidden !important;
  overflow-x: hidden !important;
}

/* ---- particles.js container ---- */

#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -20;
  background-color: #171618;
  /*background: linear-gradient(#000000,#191919);*/
  /*background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;*/
}

.head {
  color: #dca54c;
  /*font-family: 'Karla', sans-serif;*/
  font-family: "Lustria", serif;
  font-family: "Raleway", sans-serif;
  /*font-family: 'Roboto', sans-serif;*/
  /*font-family: 'Montserrat', sans-serif;*/
  font-size: 7vw;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 40px;
}

p {
  display: inline-block !important;
}

.section {
  /*height: calc(100vh - 40px);*/
  height: 100vh;
  max-width: 100vw;
  z-index: 1;
  position: relative;
  text-align: center;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-transform: translate3d(0, 0, 0);
}

.name {
  width: 70%;
}

.text {
  font-size: 25px;
  margin-top: 20px;
  margin-bottom: 0px;
  color: white;
  font-family: "Raleway", sans-serif;
  /*font-family: 'Roboto', sans-serif;*/
  /*font-family: 'Montserrat', sans-serif;*/
}

.icons {
  display: block;
  float: left;
  width: 100%;
  margin: 0;
}

.fa-kaggle:before {
  font-family: roboto;
  /* color: #429bf4; */
  color: #dca54c;
  font-size: 1.2em;
  content: "k";
  /*any letter of your choice but for kaggle "k"*/
}

.fb,
.lin,
.git,
.medium,
.twit,
.mail,
.fcc,
.res,
.stack-overflow,
.quora,
.kaggle,
.file {
  color: #dca54c;
}

.ico {
  border: 4px double rgba(255, 255, 255, 0.41);
  border-radius: 50%;
  display: inline-block;
  width: 20px;
  height: 20px;
  padding: 11px;
  position: relative;
  background: transparent;
  transition: all 0.2s ease;
  text-decoration: none;
  margin: 22px 8px;
}

.ico:hover {
  cursor: pointer;
  border: 4px double #ffffff;
}

.ico-res {
  border: 4px double white;
  border-radius: 50%;
  display: inline-block;
  width: 40px;
  height: 40px;
  padding: 10px 8px 8px 8px;
  position: relative;
  background: transparent;
  transition: all 0.2s ease;
  text-decoration: none;
  margin: 0px 8px;
}

.ico:hover {
  transform: translateY(-4px);
}

.ico-res:hover {
  transform: translateY(-4px);
}

.fa:hover {
  color: white;
}

.fa-kaggle:hover:before {
  color: white;
}

#bar {
  position: fixed;
  top: 20%;
  left: 40%;
  width: 40%;
  height: 40%;
  -webkit-transition: 0.1s ease all;
}

.p {
  background-color: blue;
  height: 100%;
  width: 10%;
  float: left;
}

@media screen and (max-width: 700px) {
  .name {
    width: 100%;
  }
  .head {
    font-size: 13vw;
    margin-bottom: 0px !important;
    padding: 0 !important;
  }
  .text {
    font-size: 4vw;
    margin-bottom: 4px !important;
    margin-top: 5px !important;
  }
  .ico {
    border: 4px double white;
    border-radius: 50%;
    display: inline-block;
    width: 20px;
    height: 20px;
    padding: 5px !important;
    position: relative;
    background: transparent;
    transition: all 0.2s ease;
    text-decoration: none;
    margin: 0px 3px !important;
  }
  .icons {
    margin-bottom: 8px;
  }
  .ico-res {
    border: 4px double white;
    border-radius: 50%;
    display: inline-block;
    width: 20px;
    height: 20px;
    padding: 10px 8px 8px 8px !important;
    position: relative;
    background: transparent;
    transition: all 0.2s ease;
    text-decoration: none;
    margin: 0px 8px !important;
  }
  .fa-2x {
    font-size: 1.5em !important;
  }
  .fa-3x {
    font-size: 2em !important;
  }
  ul {
    padding: 0px !important;
  }
}

.fcc {
  margin-left: -6px;
}

.medium {
  margin-left: -2px;
}

.stack-overflow {
  margin-right: 2px;
  margin-top: -2px;
}

.mail {
  margin-left: -2px;
}

.quora {
  margin-left: -2px;
}

.boton {
  width: 200px;
  height: 50px;
  margin: 20px auto;
  margin-left: -60px;
  display: inline-block;
  position: relative;
}

.botontext {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
  padding-left: 25px;
  text-align: center;
  line-height: 50px;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
}

.twist {
  display: inline-block;
  height: 100%;
  width: 25%;
  position: relative;
  float: none;
  margin-left: -4px;
}

.twist:before {
  content: "";
  width: 100%;
  height: 100%;
  background: #d3ad70;
  bottom: 100%;
  position: absolute;
  transform-origin: center bottom 0px;
  transform: matrix3d(1, 0, 0, 0, 0, 0, -1, -0.003, 0, 1, 0, 0, 0, 0, 0, 1);

  -webkit-transition: all 500ms cubic-bezier(0.97, 0, 0.395, 0.995);
  -moz-transition: all 500ms cubic-bezier(0.97, 0, 0.395, 0.995);
  -o-transition: all 500ms cubic-bezier(0.97, 0, 0.395, 0.995);
  transition: all 500ms cubic-bezier(0.97, 0, 0.395, 0.995); /* custom */
}

.twist:after {
  content: "";
  position: absolute;
  width: 100%;
  top: 100%;
  height: 100%;
  background: #dca54c;
  transform-origin: center top 0px;
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.003, 0, -50, 0, 1);

  -webkit-transition: all 500ms cubic-bezier(0.97, 0, 0.395, 0.995);
  -moz-transition: all 500ms cubic-bezier(0.97, 0, 0.395, 0.995);
  -o-transition: all 500ms cubic-bezier(0.97, 0, 0.395, 0.995);
  transition: all 500ms cubic-bezier(0.97, 0, 0.395, 0.995); /* custom */
}

.boton:hover .twist:before {
  background: #fff;
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0.003, 0, 50, 0, 1);
}

.boton:hover .twist:after {
  background: #dedae1;
  transform: matrix3d(1, 0, 0, 0, 0, 0, -1, 0.003, 0, 1, 0, 0, 0, 0, 0, 1);
}

.boton .twist:nth-of-type(1) {
  margin-left: 0;
}

.boton .twist:nth-of-type(1):before,
.boton .twist:nth-of-type(1):after {
  transition-delay: 0s;
}

.boton .twist:nth-of-type(2):before,
.boton .twist:nth-of-type(2):after {
  transition-delay: 0.1s;
}

.boton .twist:nth-of-type(3):before,
.boton .twist:nth-of-type(3):after {
  transition-delay: 0.2s;
}

.boton .twist:nth-of-type(4):before,
.boton .twist:nth-of-type(4):after {
  transition-delay: 0.3s;
}

.boton .botontext:nth-of-type(1) {
  color: #3d3b40;
  bottom: 100%;
  transform-origin: center bottom 0px;
  transform: matrix3d(1, 0, 0, 0, 0, 0, -1, -0.003, 0, 1, 0, 0, 0, 0, 0, 1);

  -webkit-transition: all 500ms cubic-bezier(0.97, 0, 0.395, 0.995);
  -moz-transition: all 500ms cubic-bezier(0.97, 0, 0.395, 0.995);
  -o-transition: all 500ms cubic-bezier(0.97, 0, 0.395, 0.995);
  transition: all 500ms cubic-bezier(0.97, 0, 0.395, 0.995); /* custom */
}

.boton:hover .botontext:nth-of-type(1) {
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0.003, 0, 50, 0, 1);
}

.boton .botontext:nth-of-type(2) {
  color: #fff;
  top: 100%;
  transform-origin: center top 0px;
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.003, 0, -50, 0, 1);

  -webkit-transition: all 500ms cubic-bezier(0.97, 0, 0.395, 0.995);
  -moz-transition: all 500ms cubic-bezier(0.97, 0, 0.395, 0.995);
  -o-transition: all 500ms cubic-bezier(0.97, 0, 0.395, 0.995);
  transition: all 500ms cubic-bezier(0.97, 0, 0.395, 0.995); /* custom */
}

.boton:hover .botontext:nth-of-type(2) {
  transform: matrix3d(1, 0, 0, 0, 0, 0, -1, 0.003, 0, 1, 0, 0, 0, 0, 0, 1);
}
@import url("https://fonts.googleapis.com/css?family=Lora");
@import url("https://fonts.googleapis.com/css?family=Lato");

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  /* min-height: 100vh; */
  margin: 0 auto 75px;
  width: 85%;
}
.card-body {
  background: transparent;
  box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.2);
  font-family: "Lora", serif;
  margin: 25px 0;
  min-height: 515px;
  overflow: hidden;
  width: 100%;
}
@media (min-width: 768px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .card-body {
    margin: 25px 10px;
    width: 45%;
  }
}
@media (min-width: 1024px) {
  .card-body {
    margin: 25px 15px;
    width: 30%;
  }
}
.content-img {
  border-bottom: 4px solid #dca54c;
  height: 200px;
  overflow: hidden;
}
.card-body img {
  height: auto;
  object-position: center center;
  width: 100%;
}
.card-body .card-text {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 315px;
}

@media (min-width: 768px) {
  .card-body .card-text {
    padding-bottom: 25px;
  }
}
@media (min-width: 1024px) {
  .card-body .card-text {
    margin-top: 25px;
    min-height: 250px;
    padding-bottom: 0;
  }
}
@media (min-width: 1024px) {
  .card-text p.tag {
    margin-top: 3.5vh;
  }
}
.card-text h2 {
  font-size: 1.75rem;
  margin-top: 25px;
}
.card-text p.text {
  font-size: 0.95rem;
  margin: 20px auto;
  text-align: center;
  width: 85%;
}
.card-text a.read-more {
  border: 2px solid #ffffff;
  border-radius: 25px;
  color: #ffffff;
  cursor: pointer;
  font-family: "Lato", sans-serif;
  font-size: 0.85rem;
  font-weight: bold;
  margin-top: 15px;
  padding: 7.5px 25px;
  transition: all 0.5s ease;
}
.card-text a.read-more:hover {
  background-color: #fafafa;
  color: #000;
  transform: scale(1.15);
}
